body { background-color: #424242; color: #eaeaea }

#logo { margin-bottom: 2px; margin-top: 8px }
#logo_small { margin-top: 45px; margin-right: 10px }
h1 { margin: 0; font-size: 39px; display: inline }
h2 { margin: 0; font-size: 22px; display: inline }
#main_menu { width: 100%; margin-top: 45px; margin-bottom: 45px; text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 39px; font-weight: bold; text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8) }
#main_content { font-size: 16px; font-weight: normal; text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8) }
.github_wrap { font-weight: bold; font-size: 22px; }
a.github { color: #3CA0CB; font-weight: bold; font-size: 22px; text-decoration: none }
a.github:hover { text-decoration: underline }
a.blue_small { color: #3CA0CB }
a.blue_small:hover { text-decoration: none }
a.blue_big { color: #3CA0CB; font-weight: bold; font-size: 19px }
a.blue_big:hover { text-decoration: none }
h1.main-title { font-size: 33px }
h2.main-title { font-size: 26px }
span.main-text { font-weight: bold; font-size: 19px }
h2.footer-title { font-size: 21px; text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8); display: block; margin-top: 12px }
span.footer-text { font-weight: bold; font-size: 16px }
a.footer-links { font-size: 16px }

#close_wrapper { width: 100%; height: 450px; width: 738px; position: fixed; top: 50%; left: 50%; margin-top: -294px; margin-left: -369px; text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 39px; font-weight: bold; text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8); z-index: 1000 }
#close_button { display: inline-block; float: right }
#page_title { width: 100%; height: 450px; position: fixed; top: 50%; margin-top: -300px; text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 39px; font-weight: bold; text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8); z-index: 999 }
#page_desc { font-size: 16px; font-weight: normal; position: relative; top: -19px; color: #a8a8a8 }
#player_wrapper { width: 738px; height: 450px; position: fixed; top: 50%; left: 50%; margin-top: -225px; margin-left: -369px; -webkit-box-shadow: 0px 0px 54px 12px rgba(0,0,0,0.7); -moz-box-shadow: 0px 0px 54px 12px rgba(0,0,0,0.7); box-shadow: 0px 0px 54px 12px rgba(0,0,0,0.7) }

/* Styles for Error Message that appears if you are trying to view WebChimera on Local Filesystem */
#lwarning {color:#fff;background-color:#d9534f;border-color:#d43f3a;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin-right:10px}
#warning-wrapper {text-align:center;margin-top:30px;z-index:1002}
